<footer class="footer">

<p style="color: white; font-weight: bold; text-align: center; font-size: 40px; padding-top: 20px"> Aldebaran Project</p>


<div class="footer-sections">   
<ul class="section">
  
    <li >
        <i class="fa fa-phone"></i> +39 123456789
    </li>
    <li >
        <i class="fa fa-envelope"></i>  wwww.aldebaranproject.comm
    </li>


</ul>

<ul class="section">
    <li style="list-style: none;">
        Links
    </li>
    <li >
        wwww.info.comm
    </li>


</ul>

<ul class="section">
    <li style="list-style: none;">
        Contact Us
    </li>
    <li >
       www.contact.it
    </li>


</ul>
</div>


</footer>