<div class="user-profile" #topPage>  

    <!-- <div class="name">  NOME: {{user?.name}}</div> -->

    <div class="name">  NAME: {{idUser}} 
      <div *ngIf="idUser == 'CNEOS'"> Link: <a href="https://cneos.jpl.nasa.gov/sentry/"> https://cneos.jpl.nasa.gov/sentry/</a></div>  
     <div *ngIf="idUser== 'GMN'"> Link: <a href="https://globalmeteornetwork.org/data">https://globalmeteornetwork.org/data</a></div> 
     <div *ngIf="idUser== 'NASA'">  Link: <a href="https://ssd.jpl.nasa.gov/tools/sbdb_query.html">https://ssd.jpl.nasa.gov/tools/sbdb_query.html</a></div>   </div> 

    <div class="data"> 
    <div class="registered"> Registered in Date:{{user?.registration | date: "dd MMMM yyyy"}} <div style="display: inline" *ngIf="!user?.registration"> 2024 </div> </div>

<!-- {{user?.id }} {{user?.meteor }} -->
<br>

<br>
<br>
<br>
<br>






<!-- FORM FOR SHOW ALERT-->
<div *ngIf="states.alertWindow">  
  <div class="overlay"> </div>
  <div class="alert"> <h2> YOU ARE NOT APPROVED! WAIT FOR APPROVAL! </h2><button (click)="closeWindow()"> OK</button> </div>
  
  
  </div>


















<!-- form for add meteor-->
<div class="form-meteor" *ngIf="states.formAddMeteor" > 

  <form [formGroup]="rformMeteor">  

    <button class="close" (click)="closeMeteorForm()"> X</button>
  <div class="title-form-meteor">  <p> ADD METEOR</p> </div> 
    <div class="fields-meteor"> <!-- BEGIN ALL FIELDS DIV -->
  

      <div class="example-container">
      <div class="title-field"> ID Meteor: </div>
          <mat-form-field >
            <mat-label>ID Meteor</mat-label>
            <input matInput placeholder="ID Meteor" formControlName="id"/>
            
          </mat-form-field>
        </div>
        

        

      <div class="example-container" > <!-- THER WAS DISPLAY:GRIDF-->
        <div class="title-field"> Diameter: </div>
<mat-form-field>
  <mat-label>Diameter </mat-label>
  <input matInput placeholder="" formControlName="diameter"/>
</mat-form-field>
</div>

<div class="example-container" >
<div class="title-field"> Magnitude: </div>
<mat-form-field>
  <mat-label>Magnitude </mat-label>
  <input matInput placeholder="" formControlName="h"/>
</mat-form-field>
</div>


<div class="example-container" >
<div class="title-field"> Last Observation: </div>
<mat-form-field>
  <mat-label>Last Observation </mat-label>
  <input matInput placeholder="" formControlName="last_obs"/>
</mat-form-field>
</div>

<div class="example-container" >
<div class="title-field"> Range:</div>
<mat-form-field>
  <mat-label>Range </mat-label>
  <input matInput placeholder="" formControlName="range"/>
</mat-form-field>
</div>


<div class="example-container" >
<div class="title-field"> Hazard: </div>
<mat-form-field>
  <mat-label>Hazard </mat-label>
  <input matInput placeholder="" formControlName="ps_max"/>
</mat-form-field>
</div>

<div class="example-container" >
  <div class="title-field"> Velocity: </div>
<mat-form-field>
  <mat-label>Velocity</mat-label>
  <input matInput placeholder="" formControlName="v_inf"/>
  
</mat-form-field>
</div>



</div> <!-- CLOSE ALL FIELDS DIV -->


  <button class="addMeteor" (click)="sendMeteor()"> ADD</button>
  </form>

</div>











<!-- END FORM FOR ADD EMTEOR-->


















<!-- BEGIN METEOR DETAIL-->
<div class="overlay" *ngIf="meteorDetail">

  <div class="graphics">  
  <button class="closeGraphics" (click)="closeGraphics()"> X </button>
  <div style="display: flex"> 
  <div [chart]="chartVelocity">  
  </div>

  <div [chart]="chartHazard">    
  </div>

</div>

<div style="display: flex"> 
  <div [chart]="chartDiameter">    
  </div>
  <div [chart]="chartRange">    
  </div>
</div>

<div class="trajectory">  View Trajectory: <a style="display:inline" href="https://ssd.jpl.nasa.gov/tools/orbit_viewer.html"> https://ssd.jpl.nasa.gov/tools/orbit_viewer.html </a></div>
</div> <!-- END BOX 4 GRAPHICS-->

</div>
<!--END METEOR DETAIL-->














<!--begin FULL DATA METEOR-->

<div class="overlay" *ngIf="showFullDataDetails">
  <div *ngIf="loaderDetails" class="loader">  </div>
  <div *ngIf="!loaderDetails" style="display:flex; flex-direction: column ; padding: 10px 10px; background-color: rgba(255, 255, 255, 0.7)"> 
    <button class="close" style="margin-right: 30px; margin-top: 15px;" (click)="closeFullData()"> X</button>
<div style="padding-left: 30%; margin-bottom: 30px" *ngFor="let prop of keysDetails"> {{prop}}: {{fullDataDetails[prop]}}  </div>
</div>
</div>














<!--PAGINATOR-->
<mat-paginator [length]="meteors2?.length"
              [pageSize]="1000"
              (page)="onPageChange($event)"
              aria-label="Select page">
              
</mat-paginator>
<!-- end paginator-->





<div class="meteors"> <div class="title-meteors"> Meteors Discovered: </div>

    <div *ngIf="meteors?.length==0"> Meteors not yet recorded </div>
    
    <div *ngIf="loaderMeteors" class="loader"> </div>


<!-- ALTRE METEORS-->
    <div *ngFor="let meteor of meteorsSlice" class="meteor"> 
        
      <div class="border-right"> ID: {{meteor.des}} </div>
      <div class="border-right"> Diameter: {{meteor.diameter}}  </div>
      <div class="border-right"> Magnitude: {{meteor.h}}  </div>
      <div class="border-right"> Last Observation: {{meteor.last_obs}} </div>
      <div class="border-right"> Range: {{meteor.range}}  </div>
      <div class="border-right"> Hazard: {{meteor.ps_max | number: '1.2-2'}} </div>
      <div> Velocity: {{meteor.v_inf | number: '1.2-2'}}  </div>
      <button (click)="details(meteor)"> DETAILS </button>
      <button (click)="fullData(meteor)"> FULL DATA </button>
    
    </div> <!--END FOR METEORS-->




<!--meteore CNEOS-->
    <div *ngFor="let meteor of meteors" class="meteor"> 
        
        <div class="border-right"> ID: {{meteor.des}} </div>
        <div class="border-right"> Diameter: {{meteor.diameter}}  </div>
        <div class="border-right"> Magnitude: {{meteor.h}}  </div>
        <div class="border-right"> Last Observation: {{meteor.last_obs}} </div>
        <div class="border-right"> Range: {{meteor.range}}  </div>
        <div class="border-right"> Hazard: {{meteor.ps_max | number: '1.2-2'}} </div>
        <div> Velocity: {{meteor.v_inf | number: '1.2-2'}}  </div>
        <button (click)="details(meteor)"> DETAILS</button>
        <button (click)="fullData(meteor)"> FULL DATA </button>
    
    </div> <!--END FOR DIV METEORS-->


</div>





</div>


</div> <!-- USERPROFILE -->

<!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
